* {
  &::selection {
    color: wheat;
    background-color: royalblue;
  }
}
.container {
  min-width: 300px;
  margin: 16px 40px;
}
.tasklist-elem {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  width: fit-content;
  height: 20px;
  border-bottom: 1px solid lightgray;

  label {
    margin-left: auto;
    width: 100px;
  }
  .close {
    cursor: pointer;
    width: 20px;
    &:hover {
      color: wheat;
      text-shadow: 1px 1px orangered;
    }
    &:active {
      color: red;
    }
  }
}
